@{
    ViewData["Title"] = "Confiramação de deleção de contato";
}

<div class="text-center">
    <h1>Deseja realmente apagar o seguinte contato?</h1>
    <a asp-action="Index" asp-controller="Contato" role="button" class="btn btn-primary">Voltar</a>
    <a asp-action="Deletar" asp-controller="Contato" role="button" class="btn btn-danger">Deletar</a>
</div>
