@model RedefinirSenhaModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Redefinir senha";
}


<p>Página de login</p>

@if (TempData["error"] != null)
{
    <div class="container-alert">
        <br />
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["error"]
        </div>
    </div>
}

<form asp-action="EnviarSenhaNova" asp-controller="Login">
    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input asp-for="Login" type="login" class="form-control" id="login" placeholder="Digite o usuário" />
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Digite o email" />
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <button type="submit" class="btn btn-primary">Redefinir Senha</button>
    <button asp-action="Index" asp-controller="Login" type="submit" class="btn btn-secondary">Voltar</button>
</form>